<header class="site-header">

  <div class="wrapper">

    <nav class="site-nav">
      <div class="trigger">
          <a class="page-link" href="{{ site.baseurl }}/">Home</a>
          <a class="page-link" href="{{ site.baseurl }}/manual.html">Manual</a>
          <a class="page-link" href="{{ site.baseurl }}/install.html">Install</a>
          <a class="page-link" href="{{ site.baseurl }}/compile.html">Compile</a>
          <a class="page-link" href="{{ site.baseurl }}/developers.html">Developers</a>
      </div>
    </nav>

  </div>

</header>
